<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers - F1 Legacy</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'f1.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'f1_logo.png' %}" alt="F1 Legacy Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'drivers' %}">Drivers</a></li>
                <li><a href="{% url 'teams' %}">Teams</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Standings</a>
                    <div class="dropdown-content">
                        <a href="{% url 'driver_standings' %}">Driver standings</a>
                        <a href="{% url 'team_standings' %}">Team standings</a>
                    </div>
                </li>
                <li><a href="#">Races</a></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <div class="driver-header">
            <h1>Drivers</h1>
            <p>Meet the drivers competing in the current Formula 1 season</p>
            <div class="search-container">
                <p>Advanced filtering by driver details:</p>
                <form method="get" action="{% url 'drivers' %}" class="search-form">
                    <div class="search-row">
                        <input type="text" name="q" placeholder="Name" class="search-input large" value="{{ query }}">
                        <input type="number" name="number" placeholder="Number" class="search-input small"
                            value="{{ request.GET.number }}">
                        <input type="number" name="championships" placeholder="Championships" class="search-input large"
                            value="{{ request.GET.championships }}">
                        <input type="number" name="races" placeholder="Races" class="search-input small"
                            value="{{ request.GET.races }}">
                        <input type="number" name="victories" placeholder="Victories" class="search-input small"
                            value="{{ request.GET.victories }}">
                    </div>
                    <div class="search-row no-margin">
                        <button type="submit" class="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="driver-container">
            {% if drivers %}
            {% for driver in drivers %}
            <div class="driver-card">
                <a href="{% url 'driver_detail' driver.id %}">
                    {% if driver.image %}
                    <img src="{{ driver.image }}" alt="{{ driver.name }}" class="driver-image">
                    {% else %}
                    <img src="{% static 'default_driver.png' %}" alt="Default Driver" class="driver-image">
                    {% endif %}
                </a>
                <div class="driver-info">
                    <div class="driver-details">
                        {% if driver.number %}
                        <span class="driver-number">{{ driver.number }}</span>
                        {% endif %}
                        <h2 class="driver-name">{{ driver.name }}</h2>
                        {% if driver.country_flag %}
                        <img src="{{ driver.country_flag }}" alt="{{ driver.country_flag }} Flag" class="country-flag">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No drivers </p>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 F1 Legacy | All Rights Reserved</p>
    </footer>
</body>

</html>