<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams - F1 Legacy</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'f1.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'f1_logo.png' %}" alt="F1 Legacy Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'drivers' %}">Drivers</a></li>
                <li><a href="{% url 'teams' %}">Teams</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Standings</a>
                    <div class="dropdown-content">
                        <a href="{% url 'driver_standings' %}">Driver standings</a>
                        <a href="{% url 'team_standings' %}">Team standings</a>
                    </div>
                </li>
                <li><a href="#">Races</a></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <div class="driver-header">
            <h1>Teams</h1>
            {% if teams %}
            <p>Meet the teams competing in the current Formula 1 season</p>
            <div class="search-container">
                <p class="search-title">Advanced filtering by teams details:</p>
                <form method="get" action="{% url 'teams' %}" class="search-form">
                    <div class="search-row">
                        <input type="text" name="q" placeholder="Name" class="search-input large" value="{{ query }}">
                        <input type="number" name="championships" placeholder="Championships" class="search-input large"
                            value="{{ request.GET.championships }}">
                        <input type="number" name="victories" placeholder="Victories" class="search-input small"
                            value="{{ request.GET.victories }}">
                    </div>
                    <div class="search-row">
                        <button type="submit" class="search-button">Search</button>
                    </div>
                </form>
            </div>          
        </div>
        <div class="driver-container">
            {% for team in teams %}
            <div class="team-card">
                <a href="{% url 'team_detail' team.id %}">
                    {% if team.image %}
                    <img src="{{ team.image }}" alt="{{ team.name }}" class="driver-image">
                    {% else %}
                    <img src="{% static 'default_team.jpg' %}" alt="Default Team" class="driver-image">
                    {% endif %}
                </a>
                <div class="driver-info">
                    <h2 class="driver-name">{{ team.name }}</h2>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No teams available</p>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 F1 Legacy | All Rights Reserved</p>
    </footer>
</body>

</html>
