body {
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: linear-gradient(90deg, #a80000, #b40401, #a80000);
    color: white;
}

.navbar .logo img {
    height: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.navbar ul li {
    display: inline;
}


.hero {
    text-align: center;
    padding: 4em 1em;
}

.hero h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.hero button {
    font-family: 'Audiowide', sans-serif;
    background-color: #b40401;
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #a00000;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #111;
    border-top: 2px solid #b40401;
    margin-top: 2em;
}

.notification {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.driver-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    padding: 1.5em;
}

.driver-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.driver-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #b40401;
}

.driver-info {
    padding: 1em;
}

.driver-name {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.driver-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.driver-header {
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
    color: white;
}

.driver-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    color: white;
    font-family: 'Audiowide', sans-serif;
}

.driver-header p {
    font-size: 1.2rem;
    margin-bottom: 1.5em;
    color: #ccc;
}

.driver-header-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #111;
    border-radius: 10px;
    margin-top: 1em;
}

.driver-details {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em 1em;
    text-align: center;
}

.driver-number {
    width: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.driver-number-large {
    width: 45px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.driver-name {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.driver-name-large {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.driver-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
}

.driver-card-large {
    background-color: #111;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    overflow: hidden;
    padding: 1em;
    position: relative;
}

.driver-details-container {
    flex: 1;
    background-color: #111;
    color: white;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.driver-details-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1em;
    text-align: center;
    color: #b40401;
}

.driver-stats-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    font-size: 1.2rem;
}

.driver-stats-list li {
    margin-bottom: 0.5em;
}

.country-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.country-flag {
    width: 40px;
    height: auto;
    border-radius: 7px;
    border: 1px solid #ccc;
    text-align: right;
}

.country-flag-large {
    width: 30px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-form {
    display: table-column;
    justify-content: center;
    gap: 1em;
}

.filter-select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-container {
    background-color: #222;
    padding: 1.5em 2em;
    border-radius: 15px;
    margin: 1em auto;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-row {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.search-row:last-child {
    margin-bottom: 0;
}

.search-input {
    font-family: 'Audiowide', sans-serif;
    padding: 0.8em 1.5em;
    border: 2px solid #b40401;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.search-input.small {
    width: 100px; 
    color: #fff;
}

.search-input.large {
    width: 150px; 
    color: #fff;
}

.search-input::placeholder {
    color: #fff; 
}

.search-input:focus {
    outline: none;
    border-color: #a00000;
}

.search-button {
    font-family: 'Audiowide', sans-serif;
    background-color: #b40401;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #a00000;
}

.details-title {
    font-size: 1.8rem;
    margin-bottom: 1.5em;
    text-align: center;
    color: #b40401;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.details-grid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 6em;
    justify-content: center;
    margin: 0 auto;
    max-width: auto;
}

.details-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid #333;
}

.detail-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ccc;
}

.detail-value {
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
    text-align: right;
}

.detail-item:last-child {
    border-bottom: none;
}

.no-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}

.no-details .detail-value {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.team-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.popup {
    display: none;
    margin-top: 20px;
    width: 50%;
    background-color: #222;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.popup-content {
    width: 100%;
}

.popup-title {
    font-size: 2rem;
    font-weight: bold;
    color: #b40401;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.popup-description {
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.popup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.year-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.year-inputs label {
    color: #fff;
    font-size: 1rem;
}

.year-inputs input {
    width: 45%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.popup .submit-button {
    padding: 0.8em 1.5em;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup .submit-button:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5em 0.5em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b40401;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    left: -30px; 
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 0.5em 1em; 
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    color: #000; 
}
